<tfoot class="table__foot">
  <tr class="table__row">
    <td class="
      table__cell
      table__footer
    "
    colspan="{{ columnCount }}"
    scope="colgroup"
    >
      {{[0].footer}}
    </td>
  </tr>
</tfoot>
