<table class="table"
  {{#if [0].summary.text}}
    summary="{{[0].summary.text}}"
  {{/if}}
>

  {{> caption}}

  {{> head}}

  {{> body}}

{{#if [0].footer}}
  {{> footer}}
{{/if}}

</table>

<style>
  {{> css}}
</style>
